# Python cache
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
tradingenv/

# Environment variables
.env

# VSCode settings
.vscode/

# OS system files
.DS_Store

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
